.profile-sidebar{
    padding: 20px 0 10px 0;
    background: #fff;
}
.profile-user-title{
    text-align: center;
    margin-top: 20px;
}
.profile-user-name{
    color: #5a73a1;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 7px;
}
.profile-user-email{
    text-transform: uppercase;
    color: #5babd1;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 15px;
}
.profile-user-buttons{
    text-align: center;
    margin-top: 10px;
}
.btn{
    font-size: 14px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}
.profile-user-menu{
   margin-top: 30px;
}
.side-info{
    border-bottom:  2px solid #f0f4f7;
}
.profile-user-menu ul li a{
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}
.profile-user-menu ul li a i{
    margin-right: 8px;
    font-size: 16px;
}
.profile-user-menu ul li a:hover{
    background-color: #fafcfd;
    color: #5babd1;
}
.side-info.active a{
    color: #5babd1;
    background-color: #f6fafb;
    border-left: 2px solid #5babd1;
    margin-left: -3px;
}
.side-info{
    border-bottom: 1px solid #f0f4f7;
}
.confirmation{
    text-align: center;
}
.back-btn{
    width: 20%;
    font-size: 13px;
    margin-left:500px;
}
.info-submit{
    width:110%;
    margin-top: 20px;
}
.checkbox{
    margin-left: 15px;
}
